*{
	margin: 0; 
	padding: 0; 
}

body {
	background-color: #eee;
	color: #eee;
	font-size: 62.5%;
	height: 100%; 
	width: 100%;  
}

::-webkit-input-placeholder { color: rgba(0, 0, 0, .7); }

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0,0,0,.2);
}

/*INHERIT COMMON ATTRIBUTES*/
body, textarea {
	font-family: "Roboto", "Myriad Pro", Arial, sans-serif; 
}

button, .todoo_clicker, .todoo_state, .todoo_submenu input {
	cursor: pointer;
}

header, section, aside {
	display: inline-block;
	vertical-align: top;
}

header {
	background-color: #ccc;
	height: 5%;
	width: 100%;
	min-height: 40px;
}

aside {
	min-width: 600px;
	width: 30%;
}

input:focus, textarea:focus {
	outline: none;
	background-color: rgba(50,50,50,.1) !important;
	border-radius: 3px;
}

/* UI */
.row {
	display: block;
}

.one, .two, .three, .four, .five,
.six, .seven, .eight, .nine, .ten,
.half, .one-half, .two-halves, .three-halves, 
.four-halves, .five-halves, .six-halves,
.seven-halves, .eight-halves, .nine-halves, 
.ten-halves {
	display: inline-block;
}

.half			{ width:   5%; }
.one 			{ width:  10%; }
.one-half 		{ width:  15%; }
.two 			{ width:  20%; }
.two-halves		{ width:  25%; }
.three 			{ width:  30%; }
.three-halves	{ width:  35%; }
.four 			{ width:  40%; }
.four-halves	{ width:  45%; }
.five 			{ width:  50%; }
.five-halves	{ width:  55%; }
.six 			{ width:  60%; }
.six-halves		{ width:  65%; }
.seven 			{ width:  70%; }
.seven-halves	{ width:  75%; }
.eight 			{ width:  80%; }
.eight-halves	{ width:  85%; }
.nine 			{ width:  90%; }
.nine-halves	{ width:  95%; }
.ten 			{ width: 100%; }

/*INHERIT CLASSES*/
.center,
body
{
	text-align: center;
}

.left,
header, .color-picker {
	text-align: left;
}

.right {
	text-align: right;
}

.float-right,
.color-only {
	float: right;
}

.inline-block {
	display: inline-block;
}

.margin-ten,
section, aside {
	margin: 10px;
}

.button,
button {
	cursor: pointer;
	background-color: #1D1D1D;
	border: none;
	border-radius: 3px;
	color: #eee;
	padding: 5px;
}

.color-picker {
	border-radius: 0px;
	height: 12.5%;
	width: 40px;
}

.color-picker:hover {
	width: 50px;
}

.bottom-space,
#details .title, #details .edit-title, #details .notes {
	border-bottom: 1px solid rgba(0, 0, 0, .1);
	padding-bottom: 14px;
	margin-bottom: 14px;
}

.top-space,
#details .notes .content, #details .tasks .content {
	margin-top: 14px;

}

.idle {
	background-color: rgba(0,0,0,.3) !important;
	opacity: .9;
}

.hide {
	display: none;
}

/*REFERENCE CLASSES*/
header .title {
	font-size: 1rem;
	margin-bottom: 14px;
}

	header .title div{
		height: 100%;
	}	

.color-views-wrapper {
	height: 95%;
	position: absolute;
	margin: 0 !important;
	padding: 0 !important;
	left: 0;
}

	.color-views {
		background-color: rgba(0,0,0,.1);
	}

	.color-views button.color-only {
		display: none;
	}

	.color-views li:hover button.color-only {
		display: inline-block;
		background-color: transparent;
	}

#main-wrapper {
	background-color: rgba(50,50,50,.1);
	height: 100%;
	margin-top: 0;
	min-width: 400px;
	width: 30%;
}

	#output {
		padding: 10px 0 10px 0;
	}

	.summary {
		border: 1px solid transparent;
		border-left-width: 5px !important;
		border-left-style: solid !important;
		margin: 10px 0 10px 0;
		padding: 0;
	}

	.summary:hover {
		border-color: rgba(0, 0, 0, .5) !important;
	}

		.summary .checkbox, .summary .info, .summary .due {
			display: inline-block;
			vertical-align: middle;
		}

		.summary.idle .checkbox {
			opacity: .3;
		}

		.summary .checkbox {
			height: 28px;
		}
			.summary .checkbox a.toggle-done img.not-done {
				opacity: .1;
			}

			.summary .checkbox a.toggle-done:hover img.not-done {
				opacity: .5;
			}

		.summary .info {
			color: #222;
			font-size: 1.2rem;
			font-weight: 300;
			letter-spacing: 2px;
			padding: 10px 0 10px 0;
		}

		.summary .info:hover {
			cursor: pointer;
		}

			.summary.idle .info {
				color: rgba(0,0,0,.3);
			}

			.summary.active .info {
				font-weight: bold;
			}

		.summary .due {
			color: rgba(0, 0, 0, .6);
			font-family: Arial, sans-serif;
			font-size: .9rem;
		}

		.summary.idle .due {
			opacity: .3;
		}

#details {
	border-radius: 3px;
	height: 85%;
	padding: 20px 30px 20px 30px;
		transition:display 2s;
}
	#details .title, #details .edit-title input {
		background-color: transparent;
		color: rgba(0, 0, 0, .6);
		font-size: 2.2rem;
	}

	#details .edit .title, #details .edit-title {
		display: none;
	}

	#details .edit .edit-title {
		display: block;
	}

		#details .edit .edit-title input {
			border: none;
			margin-bottom: 2px;
		}

	#details .tabs button {
		background-color: transparent;
		color: rgba(0, 0, 0, .3);
		font-size: 1.4rem;
		text-transform: uppercase;
	}

	#details .tabs {
	}

		#details .tabs button.active {
			border-bottom: 1px solid rgba(0, 0, 0, .6);
			color: rgba(0, 0, 0, .6);
		}

	#details .notes,
	#details .tasks {
		display: none;
	}

	#details .notes.active, #details .tasks.active {
		display: block;
	}

		#details .notes .content, 
		#details .tasks .content {
			color: rgba(0, 0, 0, .6);
			font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
			font-size: .8rem;
		}

		#details .notes .content {
			background-color: transparent;
			border: none;
			max-width: 100%;
			padding: 20px;
			height: 800px;
		}

		#details .tasks .content {

		}

			#details .tasks .content .task {
				color: rgba(0, 0, 0, .6);
				border-bottom: 1px solid rgba(0, 0, 0, .1);
				padding-bottom: 10px;
			}


/* FOR TESTING */
.red { background-color: red; }
.blue { background-color: blue; }
.green { background-color: green; }
.yellow { background-color: yellow; }