*{
	margin: 0 auto; 
	padding: 0; 
}

body{
	background-color: #eee;
	color: #eee;
	font-size: 62.5%;
	height: 100%; 
	width: 100%;  
}

/*INHERIT COMMON ATTRIBUTES*/
body, textarea{
	font-family: "Roboto", "Myriad Pro", Arial, serif; 
}

button, .todoo_clicker, .todoo_state, .todoo_submenu input{
	cursor: pointer;
}

.todoo_info{
	font-family: Arial, serif; 
}

button{
	background-color: #1D1D1D;
	border: none;
	color: #eee;
}

header h1, header ul, ul.color_views li, ul.color_views li button{
	position: relative;
	vertical-align: bottom;
}

div#main_wrapper, #output .todoo_container .todoo_title_edit{
	text-align: center;
}

#output .todoo_container, .todoo_note_info, .todoo_tasks_info, .todoo_tasks{
	margin-bottom: 24px;
}

.todoo_container .todoo_hidden, .todoo_tasks_info{
	margin-top: 24px;
}
textarea:focus, textarea, input{
	outline: none;
	border: none;
}

/*GENERAL CLASSES*/
.engrave{
	border: solid 1px rgba(50, 50, 50, .2);
	box-shadow: 1px 1px 1px rgba(250, 250, 250, .5);
}

.emboss,
button:hover, #output .todoo_container{
	background-color: #eee;
	border: solid 1px rgba(0, 0, 0, .2);
	box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
	color: rgba(0,0,0,.7);
}

.dark-border-bot{
	border-bottom: solid 1px rgba(0, 0, 0, .2);
}

.border-radius,
#output .todoo_container{
	border-radius: 3px;
}

/*HIERARCHY*/
header{
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	box-shadow: inset 0px 0px 8px #aaa;
	padding: 20px 0px 40px 0;
	width: 130px;
	position: fixed;
}
	header h1{
		color: #ccc;
		font-weight: 300;
		margin-left: 10px;
	}
	header ul.color_views{
	}
		ul.color_views li{
			list-style-type: none;
		}
			ul.color_views li button{
				height: 30px;
				width: 60px;
			}
			ul.color_views li button:hover{
				width: 80px;
			}
			ul.color_views li button.color_only{
				background-color: transparent;
				font-size: .6rem;
				height: 30px;
				letter-spacing: 3px;
				width: 40px;
			}
			ul.color_views li button.color_only:hover{
				border:none;
				box-shadow: none;
			}
	header button#add_todoo{
	}

div#main_wrapper{

}
	div#main_wrapper #output{
		box-shadow: inset 0px 0px 18px rgba(0,0,0,.2);
		padding: 40px 0 40px 0;
		width: 700px;
	}
		#output .todoo_container{
			max-width: 500px;
			padding: 0 15px 15px 15px;
		}
			.todoo_container .todoo_info{
				color: rgba(50,50,50,.7);
				font-weight: bold;
				text-align: left;
				text-transform: uppercase;
				margin: 0 -15px 10px;
				padding: 2px;
			}
				.todoo_info .todoo_state, .todoo_date, .todoo_tasks_count{
					display: inline-block;
				}
				.todoo_info .todoo_state{
					height: 17px;
					width: 17px;
				}
					.todoo_state.checked{
						background: url("images/checked.png");
					}
					.todoo_state.unchecked{
						background: url("images/unchecked.png");
					}
				.todoo_clicker{
					background-color: inherit;
					display: inline;
				}
					.todoo_date{
						color: #eee;
						font-size: .9rem;
						height: 18px;
						margin-top: 1px;
						text-shadow: 1px 1px 1px rgba(210,210,210,.4);
						vertical-align: top;
						width: 86%;
					}
					.todoo_tasks_count{
						background-color: rgba(0,0,0,.2);
						border: solid 1px rgba(50,50,50,.2);
						box-shadow: 1px 1px 2px rgba(250,250,250,.3);
						color: rgba(250,250,250,.3);
						float: right;
						font-size: .7rem;
						padding: 0px 5px 0px 6px;
						margin: 2px 5px 0 1px;
						border-radius: 3px;
						letter-spacing: 2px;
					}

			.todoo_container .todoo_title, .todoo_container .todoo_title_edit{
				background-color: transparent;
				color: inherit;
				display: block;
				font-size: 1.6rem;
				overflow: hidden;
				text-shadow: 1px 1px 1px rgba(200,200,200,.5);
			}
			.todoo_container .todoo_title{
				display: block;
			}
			.todoo_container .todoo_title_edit{
				display: none;
				max-width: 100%;
				width: 100%;
			}
				/*EDIT MODE*/
				.todoo_container.edit .todoo_title{
					display: none;
				}
				.todoo_container.edit .todoo_title_edit{
					background-color: #ddd;
					box-shadow: inset 0px 0px 3px #333;
					display: inline-block;
				}
			.todoo_container .todoo_hidden{
				display: none;
			}
				.todoo_hidden .todoo_note, .todoo_hidden .todoo_tasks{
					background-color: transparent;
					letter-spacing: 1px;
					border-radius: 3px;
					padding: 15px;
				}
				.todoo_hidden .todoo_note{
					width: 100%;
					max-width: 100%;
				}
				.todoo_hidden .todoo_tasks{
				}
					.todoo_tasks input[type='text']{
						background-color: transparent;
						border: none;
						margin-bottom: 10px;
						padding: 0 0 5px 5px;
						width: 90%;
					}
					.todoo_tasks button.todoo_task_delete_btn{
						background-color: transparent;
						color: inherit;
						border: none;
						height: 20px;
						width: 20px;
						opacity: .4;
					}
					.todoo_tasks button.todoo_task_delete_btn:hover{
						background-color: transparent;
						box-shadow: none;
						opacity: 1;
					}
				.todoo_hidden .todoo_submenu input{
					color: transparent;;
					height: 32px;
					width: 32px;
					margin: 0 5px 5px 5px;
					vertical-align: bottom;
				}
				.todoo_hidden .todoo_submenu input:hover{
					background-color: #ccc;
				}
					.todoo_submenu .todoo_add_task{
						background: url("/images/add_task_btn.png");
					}
					.todoo_submenu .todoo_change_color{
						background: url("/images/change_color_btn.png");
					}
					.todoo_submenu .todoo_add_date{
						background: url("/images/add_date_btn.png");
					}
					.todoo_submenu .todoo_remove_date{
						background: url("/images/remove_date_btn.png");
					}
					.todoo_submenu .todoo_delete{
						background: url("/images/delete_btn.png");
					}
			.dialog_color{
				display: none;
				background-color: #ccc;
				width: 530px;
				margin-left: -15px;
				margin-bottom: -15px;
				padding: 5px 0 5px 0;
				border-bottom-left-radius: 3px;
				border-bottom-right-radius: 3px;
			}
				.dialog_color button{
					width: 13%;
				}
/*
*{	margin: 0 auto; padding: 0 auto; border: none; text-align: center; }

::-webkit-scrollbar { width: 10px; background-color: #eee; }
::-webkit-scrollbar-thumb { background-color: #999;}

textarea{ font-family: 'Open Sans', Arial, "Times New Roman", serif; color: inherit;
			padding: 0px 10px 10px 10px; margin: 0; border: 0; font-size: 1.2rem; resize: none; }
textarea:focus{ outline: none; }
textarea::-webkit-input-placeholder { color: #333; }
textarea:-moz-placeholder { color: #333; }
input::-webkit-input-placeholder { color: #333; }
input:-moz-placeholder { color: #333; }

textarea::-webkit-scrollbar, #add_container::-webkit-scrollbar { width: 10px; background-color: transparent; }
textarea::-webkit-scrollbar-thumb, #add_container::-webkit-scrollbar-thumb { -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,0.4); background-color: transparent; width: 20px;}

.hide{ display: none; }

body{	/*background: url(bg/TorontoBW3X.jpg) repeat center center fixed; -webkit-background-size: cover;
		height: 100%; width: 100%; background-color: #eee; color: white;
		font-family: 'Open Sans', Arial, "Times New Roman", serif; font-size: 62.5%; }
		
#main_wrapper{	height: 91%; width: 1000px; font-size: 1.2rem; }

input{ cursor: pointer; border-style: none; vertical-align: top; text-decoration:none; }
#color_picker_container{	width: inherit; vertical-align: top; padding: 0 0 0 100px; position: fixed; z-index: 2; }
.color_picker{ width: 100px; height: 10px; float: left; cursor: pointer; text-align: right; } 
.color_picker:hover{ opacity: .8; }
.color_only{ height: 20px; color: #eee; font-size: .5rem; text-transform: uppercase; float: left; display: none; }
.color_only:hover{ text-shadow: 1px 2px 1px #333; opacity: .8; }
#divider{	width: inherit; height: 80px; position: fixed; z-index: 1; }

#main_container{	width: inherit; height: 100%; padding-top: 80px; }
#left_container, #main_divider, #right_container { float: left; }

/*#left_container{ width: 300px; text-align: right; position: fixed; z-index: 1; }
#left_container{ width: 300px; text-align: right; }
	details summary::-webkit-details-marker { display:none; }
	summary{ background-color: #aaa; color: #fff; padding: 0 10px 0 0; cursor: pointer; text-align: right; }
	summary:focus{ outline: none; }
	#span_header:hover{ text-shadow: 0px 2px 3px #000; color: #eee; }
	#notification{ font-size: .9em; color: #222; background-color: #ccc; padding: 10px 10px 10px 10px; }
	#no_notif{ font-weight: bold; display: inline; width: 50px; background-color: inherit; font-size: 1.2em; cursor: pointer; }
	#no_notif:hover{ text-shadow: 0px 2px 3px #000; color: #eee; }
	.details_container{ background-color: #ccc; padding: 0 10px 10px 10px; }
	
		#menu{ margin: 0 0 10px 0; }
		.btn{	height: 50px; width: 50px; margin: 0; cursor: pointer; }
		#options{ background: url('images/options.png') #ccc no-repeat center; }
			#options:hover{ background-image: url('images/options_hover.png'); }
		#all{ background: url('images/all.png') #ccc no-repeat center; }
			#all:hover{ background-image: url('images/all_hover.png'); }
		#help{ background: url('images/help.png') #ccc no-repeat center; }
			#help:hover{ background-image: url('images/help_hover.png'); }
		#add{ background: url('images/add.png') #ccc no-repeat center; }
			#add:hover{ background-image: url('images/add_hover.png'); }
		#done{ background: url('images/done.png') #ccc no-repeat center; }
			#done:hover{ background-image: url('images/done_hover.png'); }
		#hide_done{ background: url('images/hide_done.png') #ccc no-repeat center; }
			#hide_done:hover{ background-image: url('images/hide_done_hover.png'); }
			
		#add_todoo{ color: white; padding: 0px 0 0 0 ;}
			#add_container{ height: 620px; margin: 0 auto; padding: 10px 10px 10px 10px; overflow: auto; }
			#add_color_picker_container{ float: left; }
				.add_color_picker{ float:left; width: 35px; }
			#txt_todoo{ width: 200px; height: 100px; margin: 10px 0 0 0; background-color: #aaa; color: #000; font-weight: bold; }
			#txt_note{ 	width: 220px; height: 420px; text-align: left; margin: 5px 0 0 0; background-color: #aaa; font-size: .87em; 
						background: url('bg/line.png') transparent repeat top;color: #000; }
			.datepicker{ font-family: 'Open Sans', Cambria, "Times New Roman", serif; border: 0;  width: 150px; 
							margin: 0; padding: 5px 10px 5px 10px; display: inline; }
			.btn_clearDate { font-family: 'Open Sans', Cambria, "Times New Roman", serif; font-size: .8rem; display: none; width: 30px;
								margin: 0; padding: 5px 10px 5px 10px; text-decoration: none; border: 0px; background-color: #333; color: #333; }
			.btn_clearDate:hover{ background-color: #1D1D1D; }
			.subbtn { float: right; width: 50px; height: 25px; min-width: 100px; margin: 10px 10px 10px 10px; text-decoration: none; border: 0px;    		
						background-color: #333; }
			.subbtn:hover{ background-color: #1D1D1D; }
			
#output{ padding-left: 300px; }
#main_divider{ width: 10px; /*background: url('images/divider.png') transparent; height: 100%; position: fixed; }
#right_container{ width: 690px; height: auto; padding-left: 10px;  }

/*DISPLAY
.margin_todoo{
	margin: 0px 0px 20px 0px;
}
.todoo_datepicker{
	font-family: 'Open Sans', Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	border: 0;
	font-size: .8rem;
	width: 300px;
	cursor: pointer;
	margin: 0;
	padding: 5px 10px 5px 10px;
	display: inline;
}

.todoo_container{
	color: white;
	font-family: 'Open Sans', Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	display: inline-block;
	font-size: 1.4rem;
}

.todoo_title{
	color: white;
	font-family: 'Open Sans', Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	font-size: 1.4rem;
	max-width: 600px;	
	padding: 10px 30px 10px 20px;
	margin: 0px 0px 0px 0px;
	vertical-align: middle;
	text-align: left;
	display: block;
	word-wrap: break-word;
}

.todoo_date{
	color: white;
	opacity: .9;
	font-family: 'Open Sans', Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	font-size: .9rem;
	max-width: 300px;	
	padding: 5px 0px 5px 0px;
	margin: 0px 0px 0px 0px;
	text-align: center;
	display: block;
}

.done{	opacity: .5; }
.done:hover{ opacity: .7; }

.todoo_title:hover{ text-shadow: 0px 2px 3px #000; } */